.container {
  position: relative;
  width: 40rem;
  height: 25rem;
  padding: 2rem;
  background-color: var(--gray-bg);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  overflow: hidden;
  word-wrap: break-word;
  object-fit: cover;
  &:hover {
    background-color: var(--hover-gray-bg);
  }

  & h3 {
    font-weight: 800;
    font-size: 2rem;
    color: var(--text);
  }
  & p {
    margin-top: 2rem;
    color: var(--text);
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.footer {
  position: absolute;
  top: 65%;
  margin-top: 5rem;
  display: flex;
  width: 35rem;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 1.3rem;
    color: var(--text);
    & a {
      text-decoration: none;
      color: var(--text);

      & span {
        color: var(--text);
        border-bottom: 1px solid var(--text);
      }
    }
  }
}
