.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray-bg);
  width: 75rem;
  height: 25rem;
  padding: 2rem;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid var(--line-color);
  & h3 {
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--text);
  }
  & p {
    margin-top: 0.3rem;
    color: var(--text);
    font-weight: 400;
    font-size: 1.8rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  span {
    font-size: 1.4rem;
  }
}
.username {
  font-size: 1.4rem;
  font-weight: bold;
}

.image {
  border-radius: 50%;
}
.info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 1.4rem;
    color: var(--text-light);
  }
}
.read {
  font-size: 1.3rem;

  color: var(--text-light);
}
.icons {
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  span {
    color: var(--text-light);
  }
}
.comment {
  margin-left: 2rem;
}
.icon {
  composes: icon from "./Hearts.module.scss";
  font-size: 2rem !important;
}
.icon-fill {
  composes: icon-fill from "./Hearts.module.scss";
  font-size: 2rem !important;
}
