.container {
  width: 40rem;
  height: 25rem;
  padding: 2rem;
  background-color: var(--gray-bg);
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: var(--hover-gray-bg);
  }

  & h3 {
    font-weight: 800;
    font-size: 3rem;
    color: var(--text);
  }
  & p {
    margin-top: 2rem;
    color: var(--text);
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  span {
    font-size: 1.3rem;
    color: var(--text);
  }
}
