.nav-container {
  width: 100%;
  border-bottom: 1px solid var(--line-color);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 120rem;
  transition: all 0.3s;
  height: 9rem;

  & .logo {
    font-size: 3rem;
    text-decoration: none;
    color: var(--text);
    a {
      font-size: 4rem;
      font-weight: 800;
      text-decoration: none;
      color: var(--text);
      transition: all 0.3s;
      &:hover {
        color: var(--hover-text);
      }
    }
  }
  li {
    list-style: none;
    a {
      color: var(--text);
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        color: var(--hover-text);
      }
    }
  }
}
.list {
  display: flex;
  gap: 3rem;
}
