.nav-container {
  width: 100%;
  border-bottom: 1px solid var(--line-color);
  position: fixed;
  top: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100rem;
  transition: all 0.3s;
  height: 8rem;

  & .logo {
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    a {
      font-size: 2.5rem;
      font-weight: 900;
      text-decoration: none;
      color: var(--text);
      transition: all 0.3s;
      &:hover {
        color: var(--hover-text);
      }
    }
  }
}
.list {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.login {
  color: var(--text);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--hover-text);
  }
}
.signup-btn {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: var(--hover-text);
  }
}
