@use "../styles/mixin.scss" as mixin;
.content {
  overflow: hidden;
  word-wrap: break-word;
}
.title {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  @include mixin.respond(phone-big) {
    font-size: 3rem;
  }
}
.subtitle {
  display: flex;
  flex-direction: column;
  & p {
    font-size: 16px;
  }
}
.subtitle {
  margin-bottom: 5rem;
}

.comment {
  cursor: pointer;
}
.edit-btn {
  cursor: pointer;
}
.delete {
  fill: #a30f0f;
  transition: all 0.3s;

  &:hover {
    fill: #e72222;
    cursor: pointer;
  }
}
.small-image {
  border-radius: 50%;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.info {
  display: flex;

  gap: 100%;
}
.modal-title {
  font-size: 2.5rem;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.icons {
  height: 50rem;

  position: sticky;
  top: 18rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.username {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
}
.image {
  border-radius: 50%;
}
.edit-buttons {
  width: 100%;
  font-size: 25px;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}
.content-container {
  word-break: break-word;
}
