.grid-container {
  margin-top: 5rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 10% 1fr 10%;
}
.content {
  overflow: hidden;
  word-wrap: break-word;
}
.title {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.subtitle {
  display: flex;
  flex-direction: column;
  & p {
    font-size: 1.5rem;
  }
}
.subtitle {
  margin-bottom: 5rem;
}
.edit {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.icons {
  margin-top: 1rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.heart {
  cursor: pointer;
}
.comment {
  cursor: pointer;
}
.edit-btn {
  cursor: pointer;
}
.delete {
  fill: #a30f0f;
  transition: all 0.3s;
  &:hover {
    fill: #e72222;
    cursor: pointer;
  }
}
.small-image {
  border-radius: 50%;
}
.info-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.info {
  display: flex;

  gap: 100%;
}
.modal-title {
  font-size: 2.5rem;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
