.profile-info {
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
}
.profile-image {
  border-radius: 50%;
  overflow: hidden;
}

.info {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  & p {
    font-size: 1.8rem;
  }
}
.name {
  font-size: 3rem;
  color: var(--text);
  font-weight: 400;
}
.top-container {
  display: flex;
  gap: 3rem;
}
.documents-container {
  border-top: 1px solid var(--line-color);
  margin-top: 6rem;
  composes: documents-container from "./../styles/home.module.scss";
}

.post-title {
  composes: post-title from "./../styles/home.module.scss";
}
.card-container {
  composes: card-container from "./../styles/home.module.scss";
}
