.profile-info {
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
}
.profile-image {
  border-radius: 50%;
  overflow: hidden;
}
.user-profile {
  object-fit: cover;
}
.picture {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  overflow: hidden;
  cursor: pointer;
}
.image {
  border-radius: 50%;
  transition: all 0.3s;
  &:hover {
    filter: invert(10%);
  }
}
.image-input-file {
  display: none;
}

.info {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}
.name {
  font-size: 3rem;
  color: var(--text);
  font-weight: 400;
}
.top-container {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}
.documents-container {
  border-top: 1px solid var(--line-color);
  margin-top: 2rem;
  composes: documents-container from "./../styles/home.module.scss";
}
.modal-title {
  font-size: 2.5rem;
  text-align: center;
}

.post-title {
  composes: post-title from "./../styles/home.module.scss";
}
.card-container {
  composes: card-container from "./../styles/home.module.scss";
}

.fullname {
  font-size: 2rem;
}
.bio {
  font-size: 1.6rem;
}
