@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  //  default theme = light
  --background-color: #fff;
  --text: #343434;
  --hover-text: #262626;
  --gray-bg: #ededed;
  --hover-gray-bg: #dedede;
  --line-color: #c8c8c8;
}
[data-theme="dark"] {
  // dark theme
  --background-color: #1e1e1e;
  --text: #ffff;
  --hover-text: #e3e3e3;
  --gray-bg: #2e2e2e;
  --hover-gray-bg: #363636;
  --line-color: #5f5f5f;
}

::-webkit-scrollbar {
  width: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--text);
  background-color: var(--background-color);
  margin: 0 auto;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.error {
  font-size: 2rem;
  color: red;
}
.not-found {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  & h1 {
    font-size: 5rem;
    color: var(--text);
  }
  & h2 {
    font-size: 3rem;
    color: var(--text);
  }
  & p {
    font-size: 2rem;
    & a {
      font-weight: 900;
      color: var(--text);
      text-decoration: none;
      &:hover {
        color: var(--hover-text);
      }
    }
  }
}
