.text-editor {
  border-radius: 5px;
  border: 1px solid var(--line-color);
}
.menu-bar {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & button {
    font-size: 1.8rem;
    margin: 0.7rem;
    margin-right: 1.5rem;
    padding: 2px 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
  }
}

button.is-active {
  background: var(--gray-bg);
  padding: 2px 3px;
  border-radius: 2px;
}

.ProseMirror {
  min-height: 40rem;
  border-top: 1px solid var(--line-color);

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: var(--gray-bg);
    color: var(--text);
  }

  pre {
    background: var(--gray-bg);
    color: var(--text);
    font-family: "Inter", sans-serif;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 1.5rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
  }

  hr {
    border: none;
    border-top: 2px solid var(--line-color);
    margin: 2rem 0;
  }
}
