.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem;
}
.btn {
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--text);
  color: var(--background-color);
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.3s;

  &:hover {
    background-color: var(--hover-text);
  }
}
